 /* 	grid: auto-flow / 1fr 1fr 1fr;
  Full Scope */

@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
}

* 
{
	font-family: 'JetBrainsMono', monospace;
	padding: 15px;
	margin : 15px;
}


 /* Page Scope */
#_1x1_ursine_qry_ZpMc4r_6x770_4x858_2x190_1x805_
{
	display: flex;
	background-color: dimgray;
}

 .gaze-of-creation
 {
 	background-color:white;
 	color: darkblue;
 }

 .gaze-of-the-nameless-king
 {
 	background-color:black;
 	color: darkred;
 }