@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'JetBrains Mono', monospace
}

html, body {
  background: dimgrey url(bkgd.jpg) no-repeat;
  background-size: cover;
  display: grid;
}

h5 {
  text-align: center;
}

h2 {
  text-decoration-line: overline underline;
}

pre {
  display: flex;
  flex-wrap: wrap;
}

input {
  height: 75px;
  background: dimgrey url(bkgd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter:blur(9px)
}

input {
  height: 75px;
  border:none;
  opacity:50%;
  background: black url(bkgd.jpg) no-repeat center;
  background-size: cover;
  color:black;
  filter:blur(9px);
}

input:hover {
  filter:none;
  opacity:1;
}

#page-background {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  background-color: rgba(175,25,25,1);
  filter: blur(7px);
  height: 100%;
  background-image: url(bkgd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-wrapper {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  gap: 7px;
  grid-template-columns: fit-content(8ch) 1fr;
}

#title {
  z-index: 20;
  grid-row: 1;
  grid-column: 1;
  background: white;
  opacity: 50%;
  padding: 7px;
  margin-top: auto;
  margin-bottom: 0;
}

#prjkt-ver {
  z-index: 20;
  grid-row: 2;
  grid-column: 1;
  background: white;
  opacity: 50%;
  padding: 2px;
  margin: 0 25px auto;
}

#ascii {
  z-index: 20;
  grid-row: 1 / 3;
  grid-column: 3;
  animation: purple_lights 5s 750ms linear infinite;
}

.introduction {
  z-index: 20;
  grid-row: 2;
  grid-column: 2;
  color: white;
  margin: 7px;
}

.blurred-background {
  z-index: 10;
  background-color: rgba(45,25,25,0.5);
  filter: blur(7px)
}

#ascii-background {
  grid-row: 1 / 3;
  grid-column: 3;
}

#introduction-background {
  grid-row: 2;
  grid-column: 2
}

#form-background {
  grid-row: 3/4;
  grid-column: 1/3;
}

#form-wrapper {
  z-index: 15;
  grid-row: 3/4;
  grid-column: 1/3;
  justify-content: center;
}

.archivist-form {
  display: grid;
  gap: 7px;
  margin: 7px;
}

.archivist-form * {
  color: white;
  margin: 7px;
}

.archivist-form .form-submit {
  display: flex;
  justify-content: center;
  grid-row: 10;
  grid-column: 3;
}

.archivist-form .form-input {
  display: grid;
  border-left: 6px double rgb(222, 83, 31);
}

@keyframes purple_lights {
  0% {
    color: hsl(17, 39%, 80%);
    text-shadow:
      0 0 1em hsla(5, 100%, 50%, 0.2),
      0 0 0.125em hsla(16, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(12, 77%, 45%);
    text-shadow:
      0 0 1em hsla(7, 100%, 50%, 0.5),
      0 0 0.125em hsla(358, 68%, 50%, 0.5),
      -0.5em -0.125em 0.25em hsl(12, 77%, 45%),
      0.5em 0.125em 0.25em hsl(12, 77%, 45%);
  }
  
  40% { 
    color: hsla(7, 100%, 50%, 0.5);
    text-shadow:
      0 0 1em hsla(358, 68%, 50%, 0.5),
      0 0 0.125em hsl(12, 77%, 45%),
      -0.25em -0.125em 0.125em hsla(7, 100%, 50%, 0.5),
      0.25em 0.125em 0.125em hsla(358, 68%, 50%, 0.5);
  }
  
  70% {
    color: hsl(12, 77%, 45%);
    text-shadow:
      0 0 1em hsla(7, 100%, 50%, 0.5),
      0 0 0.125em hsla(358, 68%, 50%, 0.5),
      0.5em -0.125em 0.25em hsl(12, 77%, 45%),
      -0.5em 0.125em 0.25em hsla(358, 68%, 50%, 0.5);
  }
  
  100% {
    color: hsla(7, 100%, 50%, 0.5);
    text-shadow:
      0 0 1em hsl(12, 77%, 45%),
      0 0 0.125em hsla(358, 68%, 50%, 0.5),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}